/* 1. Ebene */
nav > ul {
	/*
	display: flex;
	flex-direction: row;
	*/
	position: fixed;
    top: 0;
    width: 100%;
}

/* ab 2. Ebene */
nav li > ul 
{
	position: absolute;
    display: none;
    z-index: 1;
}

nav li:focus > ul,
nav li:hover > ul 
{
    display: block;
}

/* alle Ebenen */
nav ul {
	
	position: absolute;
	
	list-style: none;
	list-style-type: none;
	padding: 0em 0em 0em 0em;    /* abstand zum rahmen*/
		
	/* deko */
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

nav li 
{
	
	
	background-color: white;
	color: black;
	
	float: left;
	/* deko */
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: red;
}

nav li:active
{
	/* deko */
    color: red;
}

nav li:focus,
nav li:hover 
{
    background-color: grey;
	/*color: white;*/
}

nav a
{
	white-space: nowrap;
	text-decoration: none;
	color: inherit;
}
