ul {
	display: flex;
	flex-direction: row;
	
    border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

nav li > ul 
{
	/*position: absolute;*/
    display: none;
    z-index: 1;
}

nav li:focus > ul,
nav li:hover > ul 
{
    display: block;
}