
/* = = = = = = = = = = = = = = = = = datei ie7.css = = = = = = = = = = = = = = = = = = = = = = = = = */


/*
diese datei ist für den IE7 und wird per IE conditional comment eingebunden,
da der internet explorer in der version IE7 viele dinge nicht beherrscht:

der IE7 versteht kein box-sizing
der IE7 versteht generell keine CSS3-Anweisungen
der IE7 versteht auch nicht -display:table-  und table-cell
der IE7 zeigt keine font-icons der icon-schrift fontawesome (.fa) an

fazit:
da der IE7 kaum noch verwendet wird und
um fehldarstellungen zu vermeiden, zeigen wir hiermit eine schlichte weiße seite mit schwarzem hinweis-text an und blenden mit der anweisung: -display:none- die webseite aus.

anmerkung:
den hinweis-text finden sie im kopf-bereich der html-datei. gerne können sie diesen text anpassen/ändern.

*/



/* = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */

.container_haupt {display: none;
}

body {color:black;
background-color:white;
font-size:30px;
text-align:center;
padding:50px;
}