/**********************************/
/* ##> black **********************/
nav, nav ul, #menu, footer /* w3-top */
{
	color: white;
	background-color: black
}

/**********************************/
/* ##> white **********************/
nav li:focus,
nav li:hover
{
	color: black;
	background-color: white
}

/**********************************/
/* ##> fixed **********************/
nav, footer /* w3-top */
{
	position:fixed;
	width:100%;
	z-index:1
}

/**********************************/
/* ==> NAV ************************/
@media screen and (max-width: 600px)
{
    nav li, nav li:last-child {float: none; background-color:blue;}
}

nav /* w3-top */
{
/* --> w3-top */
	top:0
}

/* ==> NAV Level all **************/
nav ul
{
	list-style-type: none;
	margin: 0em 0em 0em 0em;    /* abstand rahmen zum eltern object*/
	padding: 0em 0em 0em 0em;   /* abstand zum rahmen*/
	overflow: visible
}

nav li
{
	float: left;

	margin: 0em 0em 0em 0em;        /* abstand rahmen zum eltern object*/
	padding: 0.4em 0em 0.4em 0em;   /* abstand zum rahmen*/

	color: inherit;
	background-color: inherit
}

nav li:last-child
{
	float: clear
}

nav li:focus,
nav li:hover
{

}

nav a
{
	display: inline;
	white-space: nowrap;
	text-decoration: none;

	margin: 0em 0em 0em 0em;         /* abstand rahmen zum eltern object*/
	padding: 0em 0.8em 0em 0.8em;    /* abstand zum rahmen*/

	color: inherit
}

/* ==> NAV Level first ************/
nav > ul
{
}

nav > ul > li
{
}

nav > ul > li:last-child
{
	float: right;
	border-right: none
}

/* ==> NAV Level next *************/
nav li > ul
{
	display: none;
	visibility: hidden;

	position: absolute;

	margin: 0.4em 0em 0em 0em    /* abstand rahmen zum eltern object*/
}

nav li:focus > ul,
nav li:hover > ul
{
	display: block;
	visibility: visible
}

nav li > ul li
{

}

/**********************************/
/* ==> MENU ***********************/
#menu
{
	position: static;
	z-index:0;
	/*
	top:0;
	left: 0;
*/
	float: right;

	white-space: nowrap;
	text-decoration: none;

	margin: 0em 0em 0em 0em;         /* abstand rahmen zum eltern object*/
	padding: 0.4em 0.8em 0.4em 0.8em;    /* abstand zum rahmen*/
	color: white

}

/**********************************/
/* ==> CONTENT ********************/
#menu + *
{
	position: static;
	text-align: left;

	margin-top: 0em;         /* abstand rahmen zum eltern object*/
	padding-top: 1em;    /* abstand zum rahmen*/
	color: black;
  background-color: yellow
}

/**********************************/
/* ==> FOOTER *********************/
footer /* w3-top */
{
	bottom:0
}
