



/**********************************/

nav, .w3-bottom /* w3-top */
{
	position:fixed;
	width:100%;
	z-index:1;
	background-color: black;
}

nav /* w3-top */
{
/* --> w3-top */
	top:0
}

/* ==> NAV all levels */
nav ul
{

    list-style-type: none;
		margin: 0em 0em 0em 0em;    /* abstand rahmen zum eltern object*/
		padding: 0em 0em 0em 0em;   /* abstand zum rahmen*/
		overflow: visible;

		color: white;
		background-color: black;
}

nav li {
		float: left;

		margin: 0em 0em 0em 0em;        /* abstand rahmen zum eltern object*/
		padding: 0.4em 0em 0.4em 0em;    /* abstand zum rahmen*/

		color: inherit;
		background-color: inherit
}

nav li:last-child{
	float: clear;
}

nav li:focus,
nav li:hover
{
	color: black;
	background-color: white
}
/*
@media screen and (max-width: 600px){
    nav li, nav li:last-child {float: none; background-color:blue;}
}*/

nav a{
	display: inline;
	white-space: nowrap;
	text-decoration: none;

	margin: 0em 0em 0em 0em;         /* abstand rahmen zum eltern object*/
	padding: 0em 0.8em 0em 0.8em;    /* abstand zum rahmen*/

	color: inherit
}



/* ==> NAV first level */
nav > ul
{

}

nav > ul > li
{

}

nav > ul > li:last-child {
	float: right;
	border-right: none
}

/* ==> NAV next levels */
nav li > ul
{
	display: none;
	visibility: hidden;

	position: absolute;

	margin: 0.4em 0em 0em 0em    /* abstand rahmen zum eltern object*/
}

nav li:focus > ul,
nav li:hover > ul
{
	display: block;
	visibility: visible
}

nav li > ul li
{

}
