      body {
        margin: 0;
        padding: 0;
        /*background-color: white;*/
        font-family: Verdana;
        display: table;
        vertical-align:top; 
      }
    
			#header {    
        position: fixed;
        top: 0px; 
        left: 0px;
        width: 100%;
        height: 5.55em;
        overflow-y: auto; 
        border-width: 0;
        padding: 0;
        margin: 0;
        
        background-color: white;
			}
			#main {    
        border-width: 0;
        padding-top: 5.55em;   /* project: 1.5/1 + 1.5/1*0.1 = 1.65 */ /* 1. menu: 0.4em + 1em + 0.4em = 1.8 */ /* 2. menu: 0.3em + 0.4em + 1em + 0.4em = 2.1 */
        padding-right: 0;
        padding-bottom: 1.8em; /* fuer eine zeile im footer sollte eigentlich 1.6 korrekt sein 1em + 0.3em + 0.3em */       
        padding-left: 0;        
        margin: 0;
			}
			#footer {  
        position: fixed; 
        bottom: 0px; 
        width: 100%;
        height: 1.8em;         /* fuer eine zeile im footer sollte eigentlich 1.6 korrekt sein 1em + 0.3em + 0.3em */
        overflow-y: auto;
        border-width: 0;
        padding: 0;
        margin: 0;         
      }
              
      #project {
        border-width: 0;
        margin-top: 0;
        margin-right: 0.1em;
        margin-bottom: 0.1em;
        margin-left: 0.1em;        
        padding: 0;  
        font-size:  1.5em;
        line-height: 1em;
        font-weight: bold;
        text-align: left;
        color: #FFA500;
        float: left;
      }                  
      #claim {
        border-width: 0;
        margin-top: 0;
        margin-right: 0.2em;
        margin-bottom: 0;
        margin-left: 0.2em;
        padding: 0;
        height: 2.2em; /* 1.5/0.75 + 1.5/0.75*0.1 + 1.5/0.75*0.1 */
        vertical-align: top; 
        text-align: right;
        /*background-color: white;*/
        font-size: 0.75em;
        line-height: 1.4em;
        color: black;
        float: right;
      }

      .m { /* menu */
        clear: both;
        margin: 0;
        padding-top: 0.4em;
        padding-right: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.175em;
        text-align: left;
        background-color: orange;
        color: white;
        font-size:  1em;
        line-height: 1em;
      }      
      .mm { /* menu-main */
        border-width: 0;
        display: block;
      }
      .ms { /* menu-sub */
        border-top: white 0.3em solid;
        display: none;
      }      
      
      .i { /* menu-item */
      	background-color: orange;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        text-decoration: none;     
      }      
      .il { /* menu-item-left */
        margin-right: 2em;  
        margin-left: 0;      
        text-align: left;
        float: left;        
      }
      .ir { /* menu-item-right */
        margin-right: 0;
        margin-left: 2em;      
        text-decoration: none;
        float: right;        
      }
               
      .ready {
        cursor: default;
      }
      .working {
        cursor: progress;
      }
      .working .ena { /* enabled */
        cursor: progress;   
      }
      
      .working .dis { /* disabled */
        cursor: progress;/*auto; */
      }
      .dis { /* disabled */
        color: #FFE2B4;   
        cursor: default;/*auto; */
      }                      
      .ena { /* enabled */
        color: white;       
        cursor: pointer;
        /* text-shadow: 0 -1px 1px white, 0 1px 1px black; */ 
      }
      .ena:hover { 
        text-shadow: 0 0 0.2em white; 
        /* text-shadow: 0 -1px 1px black, 0 1px 1px white; */
      }      
                    
      .b { /* button */
      	background-color: orange;
        
        padding-top: 0.4em;
        padding-right: 1em;  
        padding-bottom: 0.4em;
        padding-left: 1em;      

        margin-top: 0;
        margin-right: 0;  
        margin-bottom: 0.3em;
        margin-left: 1em;      

        text-decoration: none;
        
        text-align: left;
        float: left;         
      }
      
      #formCurrentNew {
      	border-top: white 0.3em solid;
				border-right-width: 0;
        border-bottom: orange 0.3em solid;
        border-left-width: 0;
      	
      	display: none;
      	background-color: white;
      	      	
        position: fixed;
        top: 5.55em; 
        left: 0px;
        width: 100%;
        overflow-y: auto; 

        margin: 0;
        padding: 0;
             
      }
			#msg {
				float: left; 
        margin-left: 0.4em; 
			}
      
      div.messageMy {
        padding: 0.3em;
        color: grey;
        margin-left: 1.5em;
        cursor: default;/*auto; */
      }
      div.messageCrypted {
        padding: 0.3em;
        color: red;
      }
      div.message {
        padding: 0.3em;
        margin: 0.3em;
        color: black;
        /*background-color: #FFE2B4; */
        /*border-bottom: orange 0.1em solid; */
        cursor: default;/*auto; */
      }
      .sel {
        background-color: #FFE2B4;
      }

      form.h, div.h, p.h {
        DISPLAY: none;
        padding-top: 6pt;
        padding-right: 6pt;
        padding-bottom: 6pt;
        padding-left: 18pt;
      }
      div.hstep {
        DISPLAY: none;
        padding-top: 12pt;
        padding-right: 6pt;
        padding-bottom: 6pt;
        padding-left: 6pt;
        font-weight: bold;
      }

      span.hint{
        font-size:0.75em;
      }
      #threads div div {
        /*DISPLAY: none;*/
      }

      #formContactsOrdertypeAlpha a {
        padding: 6pt;
        margin: 2px;
        border: 2px solid #bbb;
      }
      #formContactsOrdertypeManuel a {
        padding: 6pt;
        margin: 2px;
        border: 2px solid #bbb;
        cursor: move;
      }



      #drop_zone {
        border: 2px dashed #bbb;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 25px;
      }
      div.barOuter{
        margin: 3pt;
        text-align: center;
        border: orange 2pt solid;
        padding: 1px;
        width: 68%;
        height: 20px;
        background:white;
        position:relative;
        left: 16%;
      }
      div.barInner{
        width: 30%;
        height: 100%;
        background:orange;
        position:relative;
      }
      div.barInnerAni{
        animation-name:bar;
        animation-duration:15s;
        animation-timing-function:linear;
        animation-delay:2s;
        animation-iteration-count:infinite;
        animation-direction:alternate;
        animation-play-state:paused;
        /* Safari and Chrome: */
        -webkit-animation-name:myfirst;
        -webkit-animation-duration:5s;
        -webkit-animation-timing-function:linear;
        -webkit-animation-delay:2s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-direction:alternate;
        -webkit-animation-play-state:paused;
      }
      @keyframes bar
      {
      /*
        0%   {left: 0%;}
        50% {left: 70%;}
        100% {left: 0%;}
      */
        from {left:0%;}
        to {left:70%;}
      }
      @-webkit-keyframes bar /* Safari and Chrome */
      {
        from {background:red;left:0%;}
        to {background:yellow;left:100%;}
      }
      #info {
        text-align: center;
        border-top: white 0.3em solid;
        
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;        
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;          
        
        font-size: 1em;
        line-height: 1em;        
        
      }
      #info p {

        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;        
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0; 

        font-size: 1em;
        line-height: 1em;

        background-color: white;
        border-top: orange 0.3em solid;
        color: black;
      }
      
      
      
      #info iframe {
        margin: 0pt;
        padding: 6pt;
        width: 80%;
        height: 128pt;
      }


      #fun form.h table {
        margin:auto;
        text-align: left;
        border-collapse:collapse;
      }
      #fun form.h table tr td input.full {/* */
        width: 100%;
        padding-top: 0pt;
        padding-right: 3pt;
        padding-bottom: 0pt;
        padding-left: 3pt;
      }
      #fun form.h table tr td.b{
        border-top: #00A000 3pt solid;
        padding-top:6pt;
      }
      #fun form.h table tr td.bx{
        border-top: white 3pt solid;
        padding-top:6pt;
      }
      #fun form.h table tr td.bt{
        padding-bottom:6pt;
      }
      #fun form.h table tr td.bbt{
        border-top: #00A000 3pt solid;
        padding-top:6pt;
        padding-bottom:6pt;
      }
