.menubox {
 font-family: Arial, Helvetica, sans-serif;
 border: 1pt #333333 solid;
 background-color: #CCCCCC;
 width: 60%;
 padding: 1pt;
 margin-bottom: 3pt;
 margin-top: 0pt;
 font-size: 8pt;
 color: #333333;
 text-decoration: none;
 font-style: normal;
 line-height: 14pt
}

.txt {
 font-family: Arial, Helvetica, sans-serif;
 border: 1pt #333333 solid;
 background-color: #FFFFFF;
 layer-background-color: #FFFFFF;
 width: 100%;
 padding-bottom: 5pt;
 padding-top: 5pt;
 padding-left: 5pt;
 padding-right: 5pt;
 margin-bottom: 3pt;
 margin-top: 6pt;
 margin-left: 0pt;
 margin-right: 0pt;
 color: #000000;
}

.meta {
 font-family: Arial, Helvetica, sans-serif;
 text-align: right;
 width: 60%;
 font-size: 7pt;
 color: #333333;
}

.menubox p {
 font-family: Arial, Helvetica, sans-serif;
 text-align: right;
 font-size: 7pt;
 color: #333333;
}

a.menulink {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 8pt;
 text-decoration: none;
 font-style: normal;
 line-height: 14pt
}

a.V {
 text-decoration: none;
}

a:link {
 color: #000000
}

a:active {
 color: #FF0000
}

a:hover {
 color: #FF0000
}

a:visited {
 color: #000000
}